.synonyms {
    height: 300px;
    background-color:#f1f0f0;
    display: flex;
    justify-content: center;
}

.synonyms-main {
    background-color: #fff;
    border: 1px solid #e4dede;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.synonyms-header {
    display: flex;
    align-items: center;
}

.synonyms-header > button {
    border: none;
    text-decoration: none;
    outline: none;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    margin-left: 20px;
}

.synonyms-list > p:hover {
    cursor: pointer;
}