#control-panel {
    background-color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
#format-actions {
    width: 200px;
    margin-right: 400px;
}

.color-button {
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.black-btn {
    background-color: black;
}
.grey-btn {
    background-color: grey;
}
.blue-btn {
    background-color: blue;
}
.red-btn {
    background-color: red;
}